body {
  margin: 0;
  padding: 0;
  background-color: rgb(135, 219, 240);
}

.divHeader {
  margin: 2rem auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  border: 1px black solid;
}

.descriptionHeader {
  width: 70%;
  /* border: 2px red solid; */
  margin: 3rem 1rem;
}

.picture {
  width: 50%;
}

.picture img {
  width: 100%;
  /* height: auto; */
}

/* work section */
.containerWork {
  display: flex;
  margin: 0 auto;
  width: 80%;
  padding: 3rem;
  flex-wrap: wrap;
  gap: 5rem; /* Space between cards */
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.containerWork::before {
  content: "My Work";
  font-size: 2em;
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  max-width: 250px; /* Width of each card */
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.card:hover {
  width: 220px;
  font-size: 1.1rem;
  background-color: #ccc;
  cursor: pointer;
}

.card h1 {
  font-size: 1.2em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2rem;
}

.card p {
  padding: 2rem;
  font-size: 1em;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* contact */

.contactContainer {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 3rem auto;
}

.descriptionContact {
  margin-bottom: 20px;
  font-size: 1.5rem;
  padding: 1rem;
  flex: 1; /* Ensures equal width with the picture */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.picture3 {
  flex: 1; /* Ensures equal width with the text */
  max-width: 100%;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.picture3 img {
  max-width: 100%;
  height: auto;
}

.svgImg {
  max-width: 3rem;
}

@media (max-width: 600px) {
  .divHeader {
    width: 90%;
    flex-direction: column;
    border: 0;
  }

  .divHeader picture {
    width: 100%;
  }

  .contactContainer {
    flex-direction: column;
  }
}

@media (min-width: 601px) and (max-width: 940px) {
  .divHeader picture {
    transform: translate(-1.5rem, -3rem);
    width: 70%;
    margin-top: 1rem;
  }
  .divHeader .descriptionHeader {
    width: 70%;
    margin: 1rem 0;
  }

  .divHeader {
    justify-content: center;
    width: 80%;

    margin-top: 5rem;
  }
  .descriptionContact {
    max-width: 50%;
    font-size: 1rem;
  }

  .picture3 {
    width: 50%;
  }
}
